In [3]:
# imports a library 'pandas', names it as 'pd'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

import csv
from collections import defaultdict

In [2]:
# various options in pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

### NYC Transit Subway Entrance And Exit Data

In [9]:
# This data file provides a variety of information on subway station entrances and exits which includes but is not limited to: 
# Division, Line, Station Name, Longitude and Latitude coordinates of entrances/exits.
nyc_entr_exit = pd.read_csv("https://data.ny.gov/api/views/i9wp-a4ja/rows.csv")

In [29]:
print(nyc_entr_exit.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1868 entries, 0 to 1867
Data columns (total 32 columns):
Division              1868 non-null object
Line                  1868 non-null object
Station Name          1868 non-null object
Station Latitude      1868 non-null float64
Station Longitude     1868 non-null float64
Route1                1868 non-null object
Route2                1020 non-null object
Route3                494 non-null object
Route4                321 non-null object
Route5                238 non-null object
Route6                127 non-null object
Route7                80 non-null object
Route8                48 non-null float64
Route9                28 non-null float64
Route10               23 non-null float64
Route11               23 non-null float64
Entrance Type         1868 non-null object
Entry                 1868 non-null object
Exit Only             56 non-null object
Vending               1868 non-null object
Staffing              1868 non-null object
Staff Hours           40 non-null object
ADA                   1868 non-null bool
ADA Notes             75 non-null object
Free Crossover        1868 non-null bool
North South Street    1839 non-null object
East West Street      1833 non-null object
Corner                1836 non-null object
Entrance Latitude     1868 non-null float64
Entrance Longitude    1868 non-null float64
Station Location      1868 non-null object
Entrance Location     1868 non-null object
dtypes: bool(2), float64(8), object(22)
memory usage: 441.5+ KB
None

In [28]:
nyc_entr_exit.sample(5)

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,Route6,Route7,Route8,Route9,Route10,Route11,Entrance Type,Entry,Exit Only,Vending,Staffing,Staff Hours,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
369,IND,8 Avenue,World Trade Center,40.713,-74.010,A,C,E,2,3,NaN,NaN,NaN,NaN,NaN,NaN,Stair,YES,NaN,YES,FULL,NaN,True,Construction,True,Church St,Park Pl,SW,40.713,-74.010,"(40.712582, -74.009781)","(40.713286, -74.009511)"
74,IND,6 Avenue,23rd St,40.743,-73.993,F,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stair,YES,NaN,YES,NONE,NaN,False,NaN,False,6th Ave,23rd St,NW,40.743,-73.993,"(40.742878, -73.992821)","(40.743121, -73.993099)"
1357,IRT,Lexington,96th St,40.786,-73.951,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stair,YES,NaN,YES,FULL,NaN,False,NaN,True,Lexington Ave,96th St,SE,40.786,-73.951,"(40.785672, -73.95107)","(40.785640, -73.950930)"
893,IND,Concourse,182nd-183rd Sts,40.856,-73.901,B,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stair,YES,NaN,YES,FULL,NaN,False,NaN,True,Grand Concourse,182nd St,SE,40.856,-73.900,"(40.856093, -73.900741)","(40.855864, -73.900484)"
1005,IND,Culver,Ditmas Av,40.636,-73.978,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stair,YES,NaN,YES,NONE,NaN,False,NaN,True,McDonald Ave,Cortelyou Rd,SW,40.637,-73.978,"(40.636119, -73.978172)","(40.637093, -73.978463)"

### Turnstile Usage Data 2017

In [14]:
### Turnstile Usage Data: 2017
# State of New York — Data file contains information on entry/exit register values for individual control areas.
nyc_turnstile_2017 = pd.read_csv("https://data.ny.gov/api/views/v5y5-mwpb/rows.csv")

In [25]:
nyc_turnstile_2017.sample(5)

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
2873307,R116,R030,00-05-02,CHAMBERS ST,123,IRT,04/26/2017,08:00:00,REGULAR,17,875
3441894,N554,R423,01-06-00,AVENUE N,F,IND,05/19/2017,21:00:00,REGULAR,3564084,1090021
3432670,N506,R022,00-00-02,34 ST-HERALD SQ,BDFMNQRW,IND,05/18/2017,20:00:00,REGULAR,2708817,1802701
1684328,PTH22,R540,02-04-02,PATH NEW WTC,1,PTH,03/07/2017,04:23:15,REGULAR,20396,147955
3756705,E013,R373,00-00-00,20 AV,D,BMT,05/29/2017,12:00:00,REGULAR,2988572,1265113